@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Signika&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

/* navbar section */
.navbar {
    width: 100%;
    background-color: rgba(41, 52, 98, 1);
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    border-radius: .2rem;
    box-shadow: 1px 1px 10px #fff;
}

.logo a img {
    height: 2.3rem;
    /* padding: 0.1rem; */
    margin-top: 0.3rem;
    margin-left: 1rem;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 1rem;
}

.nav-item li {
    list-style: none;
}

.nav-item li a {
    color: #fff;
}

.nav-item li a:hover {
    color: #FFF80A;
    border-bottom: #FFF80A;
    border-bottom: 2px solid #FFF80A;
    padding-bottom: 0.2rem;
}

/* home page = first section */

.container{
    height: 100vh;
    width: 100%;
    position:relative;
}

.container img{
    width: 100%;
    filter: brightness(.3);
    margin-bottom: 5rem;
}

.admission-head{
    position: absolute;
    top:7rem;
    left: 3rem;
}

.admission-head h2{
    font-size: 3.5rem;
    color: #fff;
    width: 25rem;
    padding: .2rem 1rem;
    border-radius: .3rem;
    line-height: 4rem;
}

.admission-head p{
    font-size: 1.3rem;
    color: #fff;
    width: 24rem;
    padding:0 1rem;
    border-radius: .3rem;
    margin: 1.2rem 0;
}

.admission-head button{
    background-color: rgba(41, 52, 98, 1);
    color: #fff;
    padding: .7rem 3rem;
    border-radius: .2rem;
    margin:0 1rem;
    font-size: 1.1rem;
}

.admission-head button:hover{
    /* font-size: 1.1rem; */
    color: #293462;
    background-color: #fff;
    border: 4px groove #293462;
    cursor: pointer;
}


/* second section */

.section-2{
    height: 80vh;
    display: flex;
    margin-top: 15rem;
    gap: 1rem;
    padding-left: .5rem;
    margin-bottom: 5rem;
}

.section-2 .term{
    width: 20rem;
    padding: 2rem 2rem;
    background-color: #001253;
    border-radius: .5rem;
    text-align: center;
    box-shadow: 1px 1px 10px black;
    position: relative;
}

.section-2 .term:hover{
    background-color: #293462;
    cursor: pointer;
}

.section-2 .term h2{
    color: #fff;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.section-2 .term p{
    color: rgba(255, 255, 255,.8);
}

.section-2 .term span{
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
    color: #fff;
    background-color: #D61C4E;
    border-radius: .2rem;
    padding: .2rem .7rem;
}

.section-2 .term span:hover{
    font-size: 1.1rem;
    cursor: pointer;
}

/* third section of campus video and details */

.campus{
    margin-top: 8rem;
    padding: 2rem .5rem;
    height: 100vh;
    margin-bottom: 5rem;
}

.campus .video{
    float: left;
    padding-top: 2rem;
}

.campus iframe{
    width: 30rem;
    height: 20rem;
    border-radius: .2rem;

}

.campus .about-campus{
    float: right;
    width: 30rem;
    text-align: justify;
    border-radius: .3rem;
}

.campus p{
    margin: 1rem 0;
    padding:0 1rem;
}

.campus h2{
    font-size: 3rem;
    color: #293462;
    text-decoration: underline;
}



/* course section */


.course{
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 5rem;
    height: 100vh;
}

.course .info h2{
    color: #293462;
    margin-bottom: 3rem;
    border-bottom: 3px groove #293462;
    display: inline-block;
}

.course .info p{
    opacity: .7;
    margin-bottom: 3rem;
    box-shadow: 5px 5px 7px #293462;
}

.course .course-list{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1rem;
}

.course .course-list .item1, .item2, .item3, .item4, .item5, .item6{
    border-top: 7px solid #293462;
    height: 10rem;
    padding: 0 2rem;
    margin: .5rem;
    box-shadow: .5px .5px 5px #293462;
    border-radius: .3rem;
    position: relative;
}

.course .course-list .item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover, .item6:hover{
    box-shadow: 1px 1px 15px #293462;
    cursor: pointer;
}

.course-list h2{
    color: #D61C4E;
    padding: 1rem;
    padding-bottom: 1rem;
    font-weight:900;
    font-size: 1.5rem;
}


.course-list p{
    color: rgba(0, 0, 0, .7);
    padding-bottom: 0;
}

.course-list a{
    color: #fff;
    background-color: #D61C4E;
    padding: .2rem 1rem;
    border-radius: .2rem;
    position: absolute;
    right:.2rem;
    bottom:.2rem;
}

.course-list a:hover{
    font-size: 1.1rem;
}

/* testimonials */

.testimonial{
    margin-top: 8rem;
    margin-bottom: 5rem;
    text-align: center;
    padding: 2rem 0;
}

.testimonial h1{
    color: #293462;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.testimonial h3{
    color: #D61C4E;
}

.main{
    display: flex;
    padding: 1rem 1rem;
}

.main .test{
    width: 20rem;
    border: 2px solid #E14D2A;
    border-radius: .2rem;
    margin: .5rem;
    padding: 3rem 1rem;
    padding-bottom: 5rem;
    text-align: left;
    position: relative;
}

.main span{
    color: #E14D2A;
    position: absolute;
    bottom: 1.5rem;
    font-size: 1.3rem;
    text-decoration: underline;
}


/* a line before footer */
.footer-top {
    width: 100%;
    height: .5rem;
    background-color: #FFF80A;
    box-shadow: 1px 1px 5px #293462;
}

/* footer section */
.footer {
    width: 100%;
    height: 93vh;
    background-color: black;
    display: flex;
}

.footer .social-section img {
    width: 15rem;
    display: block;
    padding-left: 1rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.footer .social-section a {
    color: #fff;
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    width: 5rem;
    margin-left: 6rem;
}

.footer .social-section a:hover {
    color: #FFF80A;
    font-size: 1.2rem;
    text-decoration: underline;
}

.footer .section1 {
    width: 13rem;
    height: 20rem;
    margin-top: 6rem;
    margin-left: 1rem;
    color: #fff;
    margin-right: 1rem;
}

.footer .section1 h2 {
    font-size: .8rem;
    padding-top: 1rem;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 3rem;
    padding-left: 3rem;
}

.footer .section1 a {
    color: #fff;
    line-height: 2rem;
    font-size: .7rem;
    display: block;
    text-align: left;
    margin-left: 3rem;
}

.footer .section1 a:hover {
    color: #FFF80A;
    text-decoration: underline;
}

.footer .section2 {
    width: 13rem;
    height: 20rem;
    margin-top: 6rem;
    color: #fff;
}

.footer .section2 h2 {
    font-size: .8rem;
    padding-top: 1rem;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 3rem;
    padding-left: 3rem;
}

.footer .section2 a {
    color: #fff;
    line-height: 2rem;
    font-size: .7rem;
    display: block;
    text-align: left;
    margin-left: 3rem;
}

.footer .section2 a:hover {
    color: #FFF80A;
    text-decoration: underline;
}

/* email section */
.footer .section3 {
    width: 18rem;
    height: 20rem;
    margin-top: 6rem;
    color: #fff;
    margin-left: 1rem;
}

.footer .section3 h2 {
    font-size: 1.3rem;
    padding-top: 1rem;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 3rem;
    padding-left: 5rem;
}

.footer .section3 input {
    display: block;
    background-color: black;
    color: #fff;
    border-bottom: 2px groove rgba(255, 255, 255, .5);
    border-right: none;
    border-left: none;
    border-top: none;
    outline: none;
    margin-left: 1rem;
    width: 16rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-transform: none;
}

.footer .section3 input:focus {
    padding-bottom: .5rem;
}

.footer .section3 button {
    margin: 0 1.5rem;
    background-color: #D61C4E;
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: .2rem;
}

.footer .section3 button:hover {
    cursor: pointer;
    padding: .6rem 1.7rem;
    box-shadow: .1px .1px 1px #fff;
}

/* last hr line */
.copyrightline {
    background-color: #fff;
}

/* copyright section */
.copyright {
    background-color: black;
    padding: .5rem 0;
}

.copyright .copy-right {
    color: #fff;
    margin: 1rem 8rem;
    font-size: .7rem;
    opacity: .7;
}

.copyright .terms {
    color: #fff;
    margin-left: 10rem;
    font-size: .7rem;
    opacity: .7;
}